aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
anthropic==0.47.2
anyio==4.8.0
attrs==25.1.0
backoff==2.2.1
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
Deprecated==1.2.18
distro==1.9.0
frozenlist==1.5.0
googleapis-common-protos==1.68.0
grpcio==1.70.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
importlib_metadata==8.5.0
inflection==0.5.1
Jinja2==3.1.5
jiter==0.8.2
MarkupSafe==3.0.2
monotonic==1.6
multidict==6.1.0
openai==1.64.0
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-alephalpha==0.38.7
opentelemetry-instrumentation-anthropic==0.38.7
opentelemetry-instrumentation-bedrock==0.38.7
opentelemetry-instrumentation-chromadb==0.38.7
opentelemetry-instrumentation-cohere==0.38.7
opentelemetry-instrumentation-crewai==0.38.7
opentelemetry-instrumentation-google-generativeai==0.38.7
opentelemetry-instrumentation-groq==0.38.7
opentelemetry-instrumentation-haystack==0.38.7
opentelemetry-instrumentation-lancedb==0.38.7
opentelemetry-instrumentation-langchain==0.38.7
opentelemetry-instrumentation-llamaindex==0.38.7
opentelemetry-instrumentation-logging==0.51b0
opentelemetry-instrumentation-marqo==0.38.7
opentelemetry-instrumentation-milvus==0.38.7
opentelemetry-instrumentation-mistralai==0.38.7
opentelemetry-instrumentation-ollama==0.38.7
opentelemetry-instrumentation-openai==0.38.7
opentelemetry-instrumentation-pinecone==0.38.7
opentelemetry-instrumentation-qdrant==0.38.7
opentelemetry-instrumentation-replicate==0.38.7
opentelemetry-instrumentation-requests==0.51b0
opentelemetry-instrumentation-sagemaker==0.38.7
opentelemetry-instrumentation-sqlalchemy==0.51b0
opentelemetry-instrumentation-threading==0.51b0
opentelemetry-instrumentation-together==0.38.7
opentelemetry-instrumentation-transformers==0.38.7
opentelemetry-instrumentation-urllib3==0.51b0
opentelemetry-instrumentation-vertexai==0.38.7
opentelemetry-instrumentation-watsonx==0.38.7
opentelemetry-instrumentation-weaviate==0.38.7
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-semantic-conventions-ai==0.4.2
opentelemetry-util-http==0.51b0
packaging==24.2
posthog==3.16.0
propcache==0.3.0
protobuf==5.29.3
pydantic==2.10.6
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
regex==2024.11.6
requests==2.32.3
six==1.17.0
sniffio==1.3.1
tenacity==8.5.0
tiktoken==0.9.0
tqdm==4.67.1
traceloop-sdk==0.38.7
typing_extensions==4.12.2
urllib3==2.3.0
wrapt==1.17.2
yarl==1.18.3
zipp==3.21.0
